#map {
    height: 600px;
    margin: auto;
    width: 60%;
    border: 3px solid green;
    padding: 10px;
  }
.wrapper{
  margin: auto;
    width: 60%;
    padding: 10px;
}
  * { box-sizing: border-box; }
  body {
    font: 16px Arial;
  }

  h1{
    color:rgb(79, 198, 235);
    font-size: 50px;
    text-align: center;
    font-family: 'Amatic SC', cursive, serif;
    font-size: 58px;
  }

  .fas{
    color: black;
  }
  .autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
.form-control{
  margin: auto;
  width: 60%;
  padding: 10px;
}

.father_forms_div{
  position: relative;
}

.take_to_top{
  position:absolute;
  top: 0;
  margin-right: 20%;
    
}

#body-container{
  margin: auto;
  display:inline;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  
}